{% extends "base_generic.html" %}

{% block title %} Productos {% endblock %}
{% block content %}
    <h1>Lista de Productos</h1>

    {% block filter %}
        {% include 'filter.html' %}
    {% endblock %}

    <!-- Productos -->
        {% for product in products %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <a href="{{ product.get_absolute_url }}" >{{ product.name }}</a>
            <p class="card-text">Precio: ${{ product.price }}</p>  
        {% empty %}
            <p>No se encontraron productos.</p>
        {% endfor %}
{% endblock %}