{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista de Productos</h1>

    {% block filter %}
        {% include 'filter.html' %}
    {% endblock %}
    <!-- Productos -->
     <div class="row">
        {% for product in products %}
            <div class="col-sm-3">
                <div class="card mb-4">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <a href="{{ product.get_absolute_url }}" class="card-title">{{ product.name }}</a>
                        <p class="card-text">Precio: ${{ product.price }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No se encontraron productos.</p>
        {% endfor %}
    </div>
{% endblock %}