{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista de Productos</h1>

    {% block filter %}
        {% include 'filter.html' %}
    {% endblock %}
    <!-- Productos -->
    <ul>
        {% for product in products %}
        <li>
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
            <p>Precio: ${{ product.price }}</p>
            <p>Categoría: {{ product.category }}</p>
            <!-- Agrega aquí otros detalles del producto que desees mostrar -->
        </li>
        {% empty %}
        <li>No se encontraron productos.</li>
        {% endfor %}
    </ul>

{% endblock %}